
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    position: fixed;
    top: 0;
    background: wheat;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: #000000;
    font-size: 1.5rem;
    margin-top: 10px;
}
.logo span{
    color: orangered !important;
    font-size: 1.7rem !important;
    margin-left: 5px;
    font-weight: 900;
}
.nav{
    margin-top: 10px;
}
.nav a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #000000;
    margin-left: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.nav a:hover{
    color: orangered;
    transition: 1s;
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    text-decoration: underline;
}
.icons{
    margin-top: 10px;
}
.icons .fa-bars{
    display: none;
}
.icons i{
    margin-left: 10px;
    font-size: 1.1rem;
    padding: 10px 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    text-align: center;
}
.icons i:hover{
    background: orangered;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.box-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.box-title .box-image{
    margin-right: 40px;
    object-fit: cover;
}
.box-title .box-image img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 40px;
}
.box-title .foundTitle h1{
    font-size: 2.3rem;
    color: orangered;
    font-weight: 900;
    margin-bottom: 40px;
}

.box-title .foundTitle p{
    font-size: 1.2rem;
    color: darkslategray;
}

.box-title .foundTitle .btn{
    margin-top: 20px;
    margin-left: 130px;
    padding: 13px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #000;
    border: none;
    width: 200px;
    color: wheat;
    font-size: 1.1rem;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.box-title .foundTitle .btn:hover{
    background: orangered;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.products h1{
    font-size: 2.5rem;
    color: green;
    margin-top: 23px;
    margin-bottom: 10px;
    text-align: center;
}
.products .mountainBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.secBox img{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.secBox{
    margin-top: 10px;
}
.secBox p{
    font-size: 1.1rem;
    color: rgba(0,0,0,1);
    text-align: center;
    font-weight: 800;
}
.secBox .btn{
    width: 90%;
    height: 40px;
    background: orangered;
    color: rgba(0,0,0,1);
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border: none;
}
.secBox .btn:hover{
    background: rgba(0,0,0,1);
    color:#ddd;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.contact{
    width: 100%;
}


.contact .review-slider{
    padding: 1rem;
}
.contact .heading{
    font-size: 2.8rem;
    text-align: center;
    color: orangered;
    margin-top: 22px;
}
.contact .heading span{
    font-size: 2rem;
    text-align: center;
    color: darkslategray;
}

.contact .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .2s  linear;
    -webkit-transition: .2s  linear;
    -moz-transition: .2s  linear;
    -ms-transition: .2s  linear;
    -o-transition: .2s  linear;
}

.contact .review-slider .box:hover{
    outline-offset: 0rem;
    outline: 1px solid black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.contact .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.contact .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: darkslategray;
    font-size: 1.5rem;
}

.contact .review-slider .box h3{
    padding-bottom: .5rem;
    color: black;
    font-size: 2.2rem;
}

.contact .review-slider .box .stars i{
    color: orangered;
    font-size: 1.7rem;
}

.reviewContainer{
    width: 100%;
    height: 100vh;
    background: url(../images/review-one.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.review h1{
    text-align: center;
    font-size: 2.5rem;
    color: green;
}

.reviewContainer a{
    z-index: 100000;
    font-size: 3rem;
    position: relative;
    top: 20%;
    left: 5%;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 700;
    background: orangered;
    padding: 10px 15px;
    color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.reviewContainer a:hover{
    background: chartreuse;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.aboutContainer{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: darkslategray;
    margin-top: 10px;
}
.aboutTitle h1{
    font-size: 1.9rem;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.aboutTitle a{
    display: block;
    font-size: 1.4rem;
    color: rgb(247, 247, 247);
    text-decoration: none;
    padding: 2px 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.aboutTitle a:hover{
    text-decoration: underline;
    color: orangered;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    
}
.aboutTitle .aboutAnd{
    margin-bottom: 20px !important;
}

.aboutTitle input{
    display: block;
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: #000;
    color: #ddd;
    border: none;
    text-align: center;
    transition: 1s;
    font-size: 1.4rem;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.aboutTitle input:hover{
    display: block;
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: orangered;
    transition: 1s;
    color: #ddd;
    border: none;
    text-align: center;
    font-size: 1.4rem;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.aboutTitle button{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background: chocolate;
    color: #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 1.3rem;
    text-align: center;
    transition: 1s;
    border: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.aboutTitle button:hover{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background:chartreuse;
    transition: 1s;
    color: #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
hr{
    margin-top: 10px;
}
.endTitle{
    text-align: center;
    color: grey;
    font-size: 1.6rem;
}











































@media screen and (max-width:1150px){
    .products .mountainBox{
        width: 100%;
    }
}




@media screen and (max-width:1050px){
    .box-title{
        display: flex;
        flex-direction: column;
    }
    .box-title .foundTitle{
        margin-top: 20px;
        text-align: center;
        width: 400px;
        margin-left: -5px;
    }

    .box-title .foundTitle .btn{
        margin-top: 20px;
        text-align: center;
        width: 400px;
        margin-left: -5px;
    }
    .products .mountainBox{
        display: flex;
        flex-direction: column;
    }
}



@media screen and (max-width:650px){
    .nav{
        display: none;
    }
    .icons .fa-bars{
        display: inline-block;
        left: 0;
    }
    .box-title .box-image img{
        height: 80%;
        width: 80%;
        margin-left: 80px;
    }

    .box-title .foundTitle{
        margin-top: 20px;
        text-align: center;
    }

    .box-title .foundTitle .btn{
        margin-top: 20px;
        margin-right: 130px;
    }

    .box-title .foundTitle h1,p{
        height: 80%;
        width: 80%;
        margin-left: 80px;
    }
    .reviewContainer a{
        display: inline-block;
        margin-top: 30px;
    }
}

@media screen and (max-width:550px){
    body{
        overflow-x: hidden;
    }
    .foundTitle .btn{
        margin-right: 10px;
    }
    .mountainBox p{
        font-size: .9rem;
        margin-left: 30px;
    }
    .box-title{
        margin-right: 50px;
    }
    
}

